<!doctype html>
<html>

<head>
    <%- include('base/head') %>
    <script>
        setTimeout(function() {
            window.location.href = '/ledger';
        }, 2000);
    </script>
</head>

<body>
    <header>
        <%- include('base/header') %>
    </header>
    <div class="container">
        <h1 style="text-align: center; color: red;">You can not ACCESS this page!!</h1>
        <p>
            Back to <a href="/ledger">Ledger</a>.
        </p>

    </div>
</body>

</html>
