<meta charset="UTF-8">
<title>Mildra Ledger: A Ledger System Based on Smart Contract</title>

<!-- CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- load fontawesome -->
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css">
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.3/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.1/css/select.dataTables.min.css">
<link rel="stylesheet" href="https://editor.datatables.net/extensions/Editor/css/editor.dataTables.min.css"> -->

<script src="//code.jquery.com/jquery-1.12.4.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>

<style>
    body {
        background-color:#F0F8FF;
        padding: 0 !important;
        margin: 0 !important;
    }
    .pad_top {
        margin-top: 100px;
    }
    .pad_bottom {
        margin-bottom: 100px;
    }
    .navbar-custom {
        background-color:#00688B;
        color:#ffffff;
    }
    .navbar-custom .navbar-nav > li > a {
        color:#fff;
    }
    .navbar-custom .navbar-nav > li > a:hover {
        color:#05E9FF;
        background-color:transparent;
    }
    .navbar-custom .navbar-nav .active {
        color: #01A9DB;
        background-color: #E6E6E6;
        border-radius: 5px;
    }
/*    .navbar-custom .navbar-nav > li > a:focus {
        color:#05E9FF;
        background-color:transparent;
    }*/
    /*.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
        color: #74AFAD;
        background-color:transparent;
    }*/
    .navbar-custom .navbar-brand {
        color:#05E9FF;
    }
    .fontcenter {
        text-align: center;
    }

    .sideli.active > a {
        border-radius: 5px;
        background-color: #00688B !important;
        color: #ffffff;
    }

    .deletedEntity {
        background-color: #dd0000 !important;
    }

</style>
<script>
    $(document).ready(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active');
                $(this).parents('li').addClass('active');
            }
        });
    });
</script>
