<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<% include head %>
	<script> 
		setTimeout(function(){ 
			window.location.href = '/ledger';
		},	2000);
			</script>
</head>
<body>
	<header>
	    <% include header %>
	</header>
<div class="container">

	<!-- <div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Profile Page</h1>
		<a href="/main" class="btn btn-default btn-sm">Home</a>
	</div> -->

	<h1 style="text-align: center; color: red;">You can not ACCESS this page!!</h1>

</div>
</body>
</html>
