<!doctype html>
<html>

<head>
    <% include base/head %>
</head>

<body>

    <div class="container pad_top" style="margin-bottom: 60px;">
        <div class="text-center">
            <h1><span class="fa fa-lock"></span> Smart contract x MildraLedger system</h1>
            <!-- <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a> -->
        </div>
    </div>
    <a href="/login"><img src="https://openclipart.org/image/2400px/svg_to_png/247076/saving_up_pink_version.png" alt="zizhang" style="display:block; margin:auto;" width="500px" height="500px"></a>
    <footer>
        <% include base/footer %>
    </footer>
</body>

</html>
