<!DOCTYPE html>
<html>

<head>
    <%- include('base/head') %>
        <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <header>
        <%- include('base/header', user); %>
    </header>
    <div class="container">
        <div class="jumbotron text-center">
            <h1><span class="fa fa-home fa-fw"></span> Ledger</h1>

        </div>
    </div>
</body>

</html>
