<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <header><% include header %></header>
    <h1><%= title %></h1>
    <p><a href='/profile'>Profile</a></p>
    <p><a href='/ledger'>Ledger</a></p>
    <p><a href='/ledgereditor'>Ledger Editor</a></p>
    <p><a href='/usermanagement'>User Management</a></p>
    <p><a href='/logout'>Logout</a></p>
  </body>
</html>

